.tasks__box {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  // overflow-x: hidden;
  height: 500px;
  padding: 20px
}
