.tasksInput__box {
  width: 45%;
  margin-bottom: 35px;
}

.tasksInput__inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.tasksInput {
  border: 1px solid black;
  padding: 5px 15px;
  border-radius: 5px;
}

.tasksInput__btn {
  padding: 5px;
  background-color: aqua;
  border-radius: 5px;
  font-weight: 500;
}

.tasksInput__deleteAllBtn {
  margin: 0 auto;
  display: block;
  font-weight: 500;
  background-color: rgba($color: red, $alpha: .7);
  padding: 5px;
  border-radius: 5px;
  width: 200px;
}