.app__wrapper {
  padding-top: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28px;
  min-height: 50vh;
  width: 600px;
  margin: 0 auto;
  transition: all 1s ease;
  top: 0;
}

.hidden {
  opacity: 0;
  top: 300px;
}

@media (max-width: 602px) {
  .app__wrapper {
    width: 100%;
  }
}